.btn{
    color:solid black;
    border: 1px solid black;
    border-radius: 5px;
    width:80px;
    height: 50px;
    background-color: solid white;
    font-size: 20px;
    font-weight: bold;
    
}
.bttn{
display: flex;
justify-content: space-evenly;
margin-top: 70px;
}
h1{
    text-align: center;
}
body{
    background-color: solid blanchedalmond;
}